*{
  margin: 0;
  padding: 0;
}
body {
  background: #02051f;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

#particles-js{
  height: 100vh;
  width: 100vw;
}

.grid {
  filter: drop-shadow(0.1rem 0.1rem 0.4rem rgba(255, 255, 255, 0.15));
  position: absolute;
  top: calc(50% - 12rem);
  left: -24rem;
  width: 1rem;
  height: 1rem;
  animation: spin 10s ease-in-out infinite;
  box-shadow:
    1rem 0rem transparent,
    2rem 0rem transparent,
    3rem 0rem transparent,
    4rem 0rem transparent,
    5rem 0rem transparent,
    6rem 0rem transparent,
    7rem 0rem transparent,
    8rem 0rem transparent,
    9rem 0rem transparent,
    10rem 0rem transparent,
    11rem 0rem transparent,
    12rem 0rem transparent,
    13rem 0rem transparent,
    14rem 0rem transparent,
    15rem 0rem transparent,
    16rem 0rem transparent,
    17rem 0rem transparent,
    18rem 0rem transparent,
    19rem 0rem transparent,
    20rem 0rem transparent,
    21rem 0rem transparent,
    22rem 0rem transparent,
    23rem 0rem transparent,
    24rem 0rem transparent,
    /* Linha 1 */
    1rem 1rem transparent,
    2rem 1rem transparent,
    3rem 1rem transparent,
    4rem 1rem transparent,
    5rem 1rem transparent,
    6rem 1rem transparent,
    7rem 1rem transparent,
    8rem 1rem transparent,
    9rem 1rem black,
    10rem 1rem black,
    11rem 1rem black,
    12rem 1rem black,
    13rem 1rem black,
    14rem 1rem black,
    15rem 1rem black,
    16rem 1rem transparent,
    17rem 1rem transparent,
    18rem 1rem transparent,
    19rem 1rem transparent,
    20rem 1rem transparent,
    21rem 1rem transparent,
    22rem 1rem transparent,
    23rem 1rem transparent,
    24rem 1rem transparent,
    /* Linha 2 */
    1rem 2rem transparent,
    2rem 2rem transparent,
    3rem 2rem transparent,
    4rem 2rem transparent,
    5rem 2rem transparent,
    6rem 2rem transparent,
    7rem 2rem transparent,
    8rem 2rem black,
    9rem 2rem red,
    10rem 2rem red,
    11rem 2rem red,
    12rem 2rem red,
    13rem 2rem red,
    14rem 2rem red,
    15rem 2rem red,
    16rem 2rem black,
    17rem 2rem transparent,
    18rem 2rem transparent,
    19rem 2rem transparent,
    20rem 2rem transparent,
    21rem 2rem transparent,
    22rem 2rem transparent,
    23rem 2rem transparent,
    24rem 2rem transparent,
    /* Linha 3 */
    1rem 3rem transparent,
    2rem 3rem transparent,
    3rem 3rem transparent,
    4rem 3rem transparent,
    5rem 3rem transparent,
    6rem 3rem transparent,
    7rem 3rem black,
    8rem 3rem red,
    9rem 3rem red,
    10rem 3rem red,
    11rem 3rem red,
    12rem 3rem red,
    13rem 3rem red,
    14rem 3rem red,
    15rem 3rem red,
    16rem 3rem red,
    17rem 3rem black,
    18rem 3rem transparent,
    19rem 3rem transparent,
    20rem 3rem transparent,
    21rem 3rem transparent,
    22rem 3rem transparent,
    23rem 3rem transparent,
    24rem 3rem transparent,
    /* Linha 4 */
    1rem 4rem transparent,
    2rem 4rem transparent,
    3rem 4rem transparent,
    4rem 4rem transparent,
    5rem 4rem transparent,
    6rem 4rem transparent,
    7rem 4rem black,
    8rem 4rem red,
    9rem 4rem red,
    10rem 4rem red,
    11rem 4rem black,
    12rem 4rem black,
    13rem 4rem black,
    14rem 4rem black,
    15rem 4rem black,
    16rem 4rem black,
    17rem 4rem black,
    18rem 4rem black,
    19rem 4rem transparent,
    20rem 4rem transparent,
    21rem 4rem transparent,
    22rem 4rem transparent,
    23rem 4rem transparent,
    24rem 4rem transparent,
    /* Linha 5 */
    1rem 5rem transparent,
    2rem 5rem transparent,
    3rem 5rem transparent,
    4rem 5rem transparent,
    5rem 5rem transparent,
    6rem 5rem black,
    7rem 5rem #b61111,
    8rem 5rem red,
    9rem 5rem red,
    10rem 5rem black,
    11rem 5rem #38678a,
    12rem 5rem #79abd1,
    13rem 5rem #79abd1,
    14rem 5rem #79abd1,
    15rem 5rem #79abd1,
    16rem 5rem #79abd1,
    17rem 5rem #79abd1,
    18rem 5rem black,
    19rem 5rem black,
    20rem 5rem transparent,
    21rem 5rem transparent,
    22rem 5rem transparent,
    23rem 5rem transparent,
    24rem 5rem transparent,
    /* Linha 6 */
    1rem 6rem transparent,
    2rem 6rem transparent,
    3rem 6rem transparent,
    4rem 6rem black,
    5rem 6rem black,
    6rem 6rem black,
    7rem 6rem #b61111,
    8rem 6rem red,
    9rem 6rem red,
    10rem 6rem black,
    11rem 6rem #38678a,
    12rem 6rem #79abd1,
    13rem 6rem #79abd1,
    14rem 6rem white,
    15rem 6rem white,
    16rem 6rem white,
    17rem 6rem #79abd1,
    18rem 6rem #79abd1,
    19rem 6rem black,
    20rem 6rem transparent,
    21rem 6rem transparent,
    22rem 6rem transparent,
    23rem 6rem transparent,
    24rem 6rem transparent,
    /* Linha 7 */
    1rem 7rem transparent,
    2rem 7rem transparent,
    3rem 7rem black,
    4rem 7rem red,
    5rem 7rem red,
    6rem 7rem black,
    7rem 7rem #b61111,
    8rem 7rem red,
    9rem 7rem red,
    10rem 7rem black,
    11rem 7rem #38678a,
    12rem 7rem #38678a,
    13rem 7rem #79abd1,
    14rem 7rem #79abd1,
    15rem 7rem #79abd1,
    16rem 7rem #79abd1,
    17rem 7rem #79abd1,
    18rem 7rem #38678a,
    19rem 7rem black,
    20rem 7rem transparent,
    21rem 7rem transparent,
    22rem 7rem transparent,
    23rem 7rem transparent,
    24rem 7rem transparent,
    /* Linha 8 */
    1rem 8rem transparent,
    2rem 8rem transparent,
    3rem 8rem black,
    4rem 8rem red,
    5rem 8rem red,
    6rem 8rem black,
    7rem 8rem #b61111,
    8rem 8rem red,
    9rem 8rem red,
    10rem 8rem black,
    11rem 8rem #38678a,
    12rem 8rem #38678a,
    13rem 8rem #38678a,
    14rem 8rem #38678a,
    15rem 8rem #38678a,
    16rem 8rem #38678a,
    17rem 8rem #38678a,
    18rem 8rem #38678a,
    19rem 8rem black,
    20rem 8rem transparent,
    21rem 8rem transparent,
    22rem 8rem transparent,
    23rem 8rem transparent,
    24rem 8rem transparent,
    /* Linha 9 */
    1rem 9rem transparent,
    2rem 9rem transparent,
    3rem 9rem black,
    4rem 9rem #b61111,
    5rem 9rem #b61111,
    6rem 9rem black,
    7rem 9rem #b61111,
    8rem 9rem red,
    9rem 9rem red,
    10rem 9rem red,
    11rem 9rem black,
    12rem 9rem #38678a,
    13rem 9rem #38678a,
    14rem 9rem #38678a,
    15rem 9rem #38678a,
    16rem 9rem #38678a,
    17rem 9rem #38678a,
    18rem 9rem black,
    19rem 9rem black,
    20rem 9rem transparent,
    21rem 9rem transparent,
    22rem 9rem transparent,
    23rem 9rem transparent,
    24rem 9rem transparent,
    /* Linha 10 */
    1rem 10rem transparent,
    2rem 10rem transparent,
    3rem 10rem black,
    4rem 10rem #b61111,
    5rem 10rem #b61111,
    6rem 10rem black,
    7rem 10rem #b61111,
    8rem 10rem red,
    9rem 10rem red,
    10rem 10rem red,
    11rem 10rem red,
    12rem 10rem black,
    13rem 10rem black,
    14rem 10rem black,
    15rem 10rem black,
    16rem 10rem black,
    17rem 10rem black,
    18rem 10rem red,
    19rem 10rem black,
    20rem 10rem transparent,
    21rem 10rem transparent,
    22rem 10rem transparent,
    23rem 10rem transparent,
    24rem 10rem transparent,
    /* Linha 11 */
    1rem 11rem transparent,
    2rem 11rem transparent,
    3rem 11rem black,
    4rem 11rem #b61111,
    5rem 11rem #b61111,
    6rem 11rem black,
    7rem 11rem #b61111,
    8rem 11rem red,
    9rem 11rem red,
    10rem 11rem red,
    11rem 11rem red,
    12rem 11rem red,
    13rem 11rem red,
    14rem 11rem red,
    15rem 11rem red,
    16rem 11rem red,
    17rem 11rem red,
    18rem 11rem red,
    19rem 11rem black,
    20rem 11rem transparent,
    21rem 11rem transparent,
    22rem 11rem transparent,
    23rem 11rem transparent,
    24rem 11rem transparent,
    /* Linha 12 */
    1rem 12rem transparent,
    2rem 12rem transparent,
    3rem 12rem black,
    4rem 12rem #b61111,
    5rem 12rem #b61111,
    6rem 12rem black,
    7rem 12rem #b61111,
    8rem 12rem #b61111,
    9rem 12rem red,
    10rem 12rem red,
    11rem 12rem red,
    12rem 12rem red,
    13rem 12rem red,
    14rem 12rem red,
    15rem 12rem red,
    16rem 12rem red,
    17rem 12rem red,
    18rem 12rem red,
    19rem 12rem black,
    20rem 12rem transparent,
    21rem 12rem transparent,
    22rem 12rem transparent,
    23rem 12rem transparent,
    24rem 12rem transparent,
    /* Linha 13 */
    1rem 13rem transparent,
    2rem 13rem transparent,
    3rem 13rem black,
    4rem 13rem #b61111,
    5rem 13rem #b61111,
    6rem 13rem black,
    7rem 13rem #b61111,
    8rem 13rem #b61111,
    9rem 13rem red,
    10rem 13rem red,
    11rem 13rem red,
    12rem 13rem red,
    13rem 13rem red,
    14rem 13rem red,
    15rem 13rem red,
    16rem 13rem red,
    17rem 13rem red,
    18rem 13rem red,
    19rem 13rem black,
    20rem 13rem transparent,
    21rem 13rem transparent,
    22rem 13rem transparent,
    23rem 13rem transparent,
    24rem 13rem transparent,
    /* Linha 14 */
    1rem 14rem transparent,
    2rem 14rem transparent,
    3rem 14rem black,
    4rem 14rem #b61111,
    5rem 14rem #b61111,
    6rem 14rem black,
    7rem 14rem #b61111,
    8rem 14rem #b61111,
    9rem 14rem #b61111,
    10rem 14rem red,
    11rem 14rem red,
    12rem 14rem red,
    13rem 14rem red,
    14rem 14rem red,
    15rem 14rem red,
    16rem 14rem red,
    17rem 14rem red,
    18rem 14rem #b61111,
    19rem 14rem black,
    20rem 14rem transparent,
    21rem 14rem transparent,
    22rem 14rem transparent,
    23rem 14rem transparent,
    24rem 14rem transparent,
    /* Linha 15 */
    1rem 15rem transparent,
    2rem 15rem transparent,
    3rem 15rem black,
    4rem 15rem #b61111,
    5rem 15rem #b61111,
    6rem 15rem black,
    7rem 15rem #b61111,
    8rem 15rem #b61111,
    9rem 15rem #b61111,
    10rem 15rem #b61111,
    11rem 15rem red,
    12rem 15rem red,
    13rem 15rem red,
    14rem 15rem red,
    15rem 15rem red,
    16rem 15rem red,
    17rem 15rem #b61111,
    18rem 15rem #b61111,
    19rem 15rem black,
    20rem 15rem transparent,
    21rem 15rem transparent,
    22rem 15rem transparent,
    23rem 15rem transparent,
    24rem 15rem transparent,
    /* Linha 16 */
    1rem 16rem transparent,
    2rem 16rem transparent,
    3rem 16rem black,
    4rem 16rem #b61111,
    5rem 16rem #b61111,
    6rem 16rem black,
    7rem 16rem #b61111,
    8rem 16rem #b61111,
    9rem 16rem #b61111,
    10rem 16rem #b61111,
    11rem 16rem #b61111,
    12rem 16rem #b61111,
    13rem 16rem #b61111,
    14rem 16rem #b61111,
    15rem 16rem #b61111,
    16rem 16rem #b61111,
    17rem 16rem #b61111,
    18rem 16rem #b61111,
    19rem 16rem black,
    20rem 16rem transparent,
    21rem 16rem transparent,
    22rem 16rem transparent,
    23rem 16rem transparent,
    24rem 16rem transparent,
    /* Linha 17 */
    1rem 17rem transparent,
    2rem 17rem transparent,
    3rem 17rem transparent,
    4rem 17rem black,
    5rem 17rem #b61111,
    6rem 17rem black,
    7rem 17rem #b61111,
    8rem 17rem #b61111,
    9rem 17rem #b61111,
    10rem 17rem #b61111,
    11rem 17rem #b61111,
    12rem 17rem #b61111,
    13rem 17rem #b61111,
    14rem 17rem #b61111,
    15rem 17rem #b61111,
    16rem 17rem #b61111,
    17rem 17rem #b61111,
    18rem 17rem black,
    19rem 17rem transparent,
    20rem 17rem transparent,
    21rem 17rem transparent,
    22rem 17rem transparent,
    23rem 17rem transparent,
    24rem 17rem transparent,
    /* Linha 18 */
    1rem 18rem transparent,
    2rem 18rem transparent,
    3rem 18rem transparent,
    4rem 18rem black,
    5rem 18rem black,
    6rem 18rem black,
    7rem 18rem #b61111,
    8rem 18rem #b61111,
    9rem 18rem #b61111,
    10rem 18rem #b61111,
    11rem 18rem black,
    12rem 18rem black,
    13rem 18rem black,
    14rem 18rem black,
    15rem 18rem black,
    16rem 18rem #b61111,
    17rem 18rem #b61111,
    18rem 18rem black,
    19rem 18rem transparent,
    20rem 18rem transparent,
    21rem 18rem transparent,
    22rem 18rem transparent,
    23rem 18rem transparent,
    24rem 18rem transparent,
    /* Linha 19 */
    1rem 19rem transparent,
    2rem 19rem transparent,
    3rem 19rem transparent,
    4rem 19rem transparent,
    5rem 19rem transparent,
    6rem 19rem black,
    7rem 19rem #b61111,
    8rem 19rem #b61111,
    9rem 19rem #b61111,
    10rem 19rem #b61111,
    11rem 19rem black,
    12rem 19rem transparent,
    13rem 19rem black,
    14rem 19rem #b61111,
    15rem 19rem #b61111,
    16rem 19rem #b61111,
    17rem 19rem #b61111,
    18rem 19rem black,
    19rem 19rem transparent,
    20rem 19rem transparent,
    21rem 19rem transparent,
    22rem 19rem transparent,
    23rem 19rem transparent,
    24rem 19rem transparent,
    /* Linha 20 */
    1rem 20rem transparent,
    2rem 20rem transparent,
    3rem 20rem transparent,
    4rem 20rem transparent,
    5rem 20rem transparent,
    6rem 20rem black,
    7rem 20rem #b61111,
    8rem 20rem #b61111,
    9rem 20rem #b61111,
    10rem 20rem #b61111,
    11rem 20rem black,
    12rem 20rem transparent,
    13rem 20rem black,
    14rem 20rem #b61111,
    15rem 20rem #b61111,
    16rem 20rem #b61111,
    17rem 20rem #b61111,
    18rem 20rem black,
    19rem 20rem transparent,
    20rem 20rem transparent,
    21rem 20rem transparent,
    22rem 20rem transparent,
    23rem 20rem transparent,
    24rem 20rem transparent,
    /* Linha 21 */
    1rem 21rem transparent,
    2rem 21rem transparent,
    3rem 21rem transparent,
    4rem 21rem transparent,
    5rem 21rem transparent,
    6rem 21rem black,
    7rem 21rem #b61111,
    8rem 21rem #b61111,
    9rem 21rem #b61111,
    10rem 21rem #b61111,
    11rem 21rem black,
    12rem 21rem transparent,
    13rem 21rem black,
    14rem 21rem #b61111,
    15rem 21rem #b61111,
    16rem 21rem #b61111,
    17rem 21rem black,
    18rem 21rem transparent,
    19rem 21rem transparent,
    20rem 21rem transparent,
    21rem 21rem transparent,
    22rem 21rem transparent,
    23rem 21rem transparent,
    24rem 21rem transparent,
    /* Linha 22 */
    /* 1rem 22rem transparent,
    2rem 22rem transparent,
    3rem 22rem transparent,
    4rem 22rem transparent,
    5rem 22rem transparent,
    6rem 22rem black,
    7rem 22rem #b61111,
    8rem 22rem #b61111,
    9rem 22rem #b61111,
    10rem 22rem #b61111,
    11rem 22rem black,
    12rem 22rem transparent,
    13rem 22rem transparent,
    14rem 22rem black,
    15rem 22rem #b61111,
    16rem 22rem #b61111,
    17rem 22rem black,
    18rem 22rem transparent,
    19rem 22rem transparent,
    20rem 22rem transparent,
    21rem 22rem transparent,
    22rem 22rem transparent,
    23rem 22rem transparent,
    24rem 22rem transparent, */
    /* Linha 23 */
    1rem 22rem transparent,
    2rem 22rem transparent,
    3rem 22rem transparent,
    4rem 22rem transparent,
    5rem 22rem transparent,
    6rem 22rem black,
    7rem 22rem #b61111,
    8rem 22rem #b61111,
    9rem 22rem #b61111,
    10rem 22rem black,
    11rem 22rem transparent,
    12rem 22rem transparent,
    13rem 22rem transparent,
    14rem 22rem black,
    15rem 22rem black,
    16rem 22rem black,
    17rem 22rem transparent,
    18rem 22rem transparent,
    19rem 22rem transparent,
    20rem 22rem transparent,
    21rem 22rem transparent,
    22rem 22rem transparent,
    23rem 22rem transparent,
    24rem 22rem transparent,
    /* Linha 24 */
    1rem 23rem transparent,
    2rem 23rem transparent,
    3rem 23rem transparent,
    4rem 23rem transparent,
    5rem 23rem transparent,
    6rem 23rem transparent,
    7rem 23rem black,
    8rem 23rem black,
    9rem 23rem black,
    10rem 23rem transparent,
    11rem 23rem transparent,
    12rem 23rem transparent,
    13rem 23rem transparent,
    14rem 23rem transparent,
    15rem 23rem transparent,
    16rem 23rem transparent,
    17rem 23rem transparent,
    18rem 23rem transparent,
    19rem 23rem transparent,
    20rem 23rem transparent,
    21rem 23rem transparent,
    22rem 23rem transparent,
    23rem 23rem transparent,
    24rem 23rem transparent,
    /* Linha final */
    1rem 24rem transparent,
    2rem 24rem transparent,
    3rem 24rem transparent,
    4rem 24rem transparent,
    5rem 24rem transparent,
    6rem 24rem transparent,
    7rem 24rem transparent,
    8rem 24rem transparent,
    9rem 24rem transparent,
    10rem 24rem transparent,
    11rem 24rem transparent,
    12rem 24rem transparent,
    13rem 24rem transparent,
    14rem 24rem transparent,
    15rem 24rem transparent,
    16rem 24rem transparent,
    17rem 24rem transparent,
    18rem 24rem transparent,
    19rem 24rem transparent,
    20rem 24rem transparent,
    21rem 24rem transparent,
    22rem 24rem transparent,
    23rem 24rem transparent,
    24rem 24rem transparent
}

@keyframes spin {

  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
    left: 100%;
    top: 50%;
  }
}