*{
  margin: 0;
  padding: 0;
}
body {
  background: #4b9de6;
  display: flex;
  justify-content: center;
  align-items: center;

}
.grid {
  position: absolute;
  top: calc(50% - 12rem);
  left: calc(50% - 12rem);
  width: 1rem;
  height: 1rem;
  /* margin-top: 200px; */
  box-shadow:
    1rem 0rem white,
    2rem 0rem white,
    3rem 0rem white,
    4rem 0rem white,
    5rem 0rem white,
    6rem 0rem white,
    7rem 0rem white,
    8rem 0rem white,
    9rem 0rem white,
    10rem 0rem white,
    11rem 0rem white,
    12rem 0rem white,
    13rem 0rem white,
    14rem 0rem white,
    15rem 0rem white,
    16rem 0rem white,
    17rem 0rem white,
    18rem 0rem white,
    19rem 0rem white,
    20rem 0rem white,
    21rem 0rem white,
    22rem 0rem white,
    23rem 0rem white,
    24rem 0rem white,
    /* Linha 1 */
    1rem 1rem white,
    2rem 1rem white,
    3rem 1rem white,
    4rem 1rem white,
    5rem 1rem white,
    6rem 1rem white,
    7rem 1rem white,
    8rem 1rem white,
    9rem 1rem black,
    10rem 1rem black,
    11rem 1rem black,
    12rem 1rem black,
    13rem 1rem black,
    14rem 1rem black,
    15rem 1rem black,
    16rem 1rem white,
    17rem 1rem white,
    18rem 1rem white,
    19rem 1rem white,
    20rem 1rem white,
    21rem 1rem white,
    22rem 1rem white,
    23rem 1rem white,
    24rem 1rem white,
    /* Linha 2 */
    1rem 2rem white,
    2rem 2rem white,
    3rem 2rem white,
    4rem 2rem white,
    5rem 2rem white,
    6rem 2rem white,
    7rem 2rem white,
    8rem 2rem black,
    9rem 2rem red,
    10rem 2rem red,
    11rem 2rem red,
    12rem 2rem red,
    13rem 2rem red,
    14rem 2rem red,
    15rem 2rem red,
    16rem 2rem black,
    17rem 2rem white,
    18rem 2rem white,
    19rem 2rem white,
    20rem 2rem white,
    21rem 2rem white,
    22rem 2rem white,
    23rem 2rem white,
    24rem 2rem white,
    /* Linha 3 */
    1rem 3rem white,
    2rem 3rem white,
    3rem 3rem white,
    4rem 3rem white,
    5rem 3rem white,
    6rem 3rem white,
    7rem 3rem black,
    8rem 3rem red,
    9rem 3rem red,
    10rem 3rem red,
    11rem 3rem red,
    12rem 3rem red,
    13rem 3rem red,
    14rem 3rem red,
    15rem 3rem red,
    16rem 3rem red,
    17rem 3rem black,
    18rem 3rem white,
    19rem 3rem white,
    20rem 3rem white,
    21rem 3rem white,
    22rem 3rem white,
    23rem 3rem white,
    24rem 3rem white,
    /* Linha 4 */
    1rem 4rem white,
    2rem 4rem white,
    3rem 4rem white,
    4rem 4rem white,
    5rem 4rem white,
    6rem 4rem white,
    7rem 4rem black,
    8rem 4rem red,
    9rem 4rem red,
    10rem 4rem red,
    11rem 4rem black,
    12rem 4rem black,
    13rem 4rem black,
    14rem 4rem black,
    15rem 4rem black,
    16rem 4rem black,
    17rem 4rem black,
    18rem 4rem black,
    19rem 4rem white,
    20rem 4rem white,
    21rem 4rem white,
    22rem 4rem white,
    23rem 4rem white,
    24rem 4rem white,
    /* Linha 5 */
    1rem 5rem white,
    2rem 5rem white,
    3rem 5rem white,
    4rem 5rem white,
    5rem 5rem white,
    6rem 5rem black,
    7rem 5rem #b61111,
    8rem 5rem red,
    9rem 5rem red,
    10rem 5rem black,
    11rem 5rem #38678a,
    12rem 5rem #79abd1,
    13rem 5rem #79abd1,
    14rem 5rem #79abd1,
    15rem 5rem #79abd1,
    16rem 5rem #79abd1,
    17rem 5rem #79abd1,
    18rem 5rem black,
    19rem 5rem black,
    20rem 5rem white,
    21rem 5rem white,
    22rem 5rem white,
    23rem 5rem white,
    24rem 5rem white,
    /* Linha 6 */
    1rem 6rem white,
    2rem 6rem white,
    3rem 6rem white,
    4rem 6rem black,
    5rem 6rem black,
    6rem 6rem black,
    7rem 6rem #b61111,
    8rem 6rem red,
    9rem 6rem red,
    10rem 6rem black,
    11rem 6rem #38678a,
    12rem 6rem #79abd1,
    13rem 6rem #79abd1,
    14rem 6rem white,
    15rem 6rem white,
    16rem 6rem white,
    17rem 6rem #79abd1,
    18rem 6rem #79abd1,
    19rem 6rem black,
    20rem 6rem white,
    21rem 6rem white,
    22rem 6rem white,
    23rem 6rem white,
    24rem 6rem white,
    /* Linha 7 */
    1rem 7rem white,
    2rem 7rem white,
    3rem 7rem black,
    4rem 7rem red,
    5rem 7rem red,
    6rem 7rem black,
    7rem 7rem #b61111,
    8rem 7rem red,
    9rem 7rem red,
    10rem 7rem black,
    11rem 7rem #38678a,
    12rem 7rem #38678a,
    13rem 7rem #79abd1,
    14rem 7rem #79abd1,
    15rem 7rem #79abd1,
    16rem 7rem #79abd1,
    17rem 7rem #79abd1,
    18rem 7rem #38678a,
    19rem 7rem black,
    20rem 7rem white,
    21rem 7rem white,
    22rem 7rem white,
    23rem 7rem white,
    24rem 7rem white,
    /* Linha 8 */
    1rem 8rem white,
    2rem 8rem white,
    3rem 8rem black,
    4rem 8rem red,
    5rem 8rem red,
    6rem 8rem black,
    7rem 8rem #b61111,
    8rem 8rem red,
    9rem 8rem red,
    10rem 8rem black,
    11rem 8rem #38678a,
    12rem 8rem #38678a,
    13rem 8rem #38678a,
    14rem 8rem #38678a,
    15rem 8rem #38678a,
    16rem 8rem #38678a,
    17rem 8rem #38678a,
    18rem 8rem #38678a,
    19rem 8rem black,
    20rem 8rem white,
    21rem 8rem white,
    22rem 8rem white,
    23rem 8rem white,
    24rem 8rem white,
    /* Linha 9 */
    1rem 9rem white,
    2rem 9rem white,
    3rem 9rem black,
    4rem 9rem #b61111,
    5rem 9rem #b61111,
    6rem 9rem black,
    7rem 9rem #b61111,
    8rem 9rem red,
    9rem 9rem red,
    10rem 9rem red,
    11rem 9rem black,
    12rem 9rem #38678a,
    13rem 9rem #38678a,
    14rem 9rem #38678a,
    15rem 9rem #38678a,
    16rem 9rem #38678a,
    17rem 9rem #38678a,
    18rem 9rem black,
    19rem 9rem black,
    20rem 9rem white,
    21rem 9rem white,
    22rem 9rem white,
    23rem 9rem white,
    24rem 9rem white,
    /* Linha 10 */
    1rem 10rem white,
    2rem 10rem white,
    3rem 10rem black,
    4rem 10rem #b61111,
    5rem 10rem #b61111,
    6rem 10rem black,
    7rem 10rem #b61111,
    8rem 10rem red,
    9rem 10rem red,
    10rem 10rem red,
    11rem 10rem red,
    12rem 10rem black,
    13rem 10rem black,
    14rem 10rem black,
    15rem 10rem black,
    16rem 10rem black,
    17rem 10rem black,
    18rem 10rem red,
    19rem 10rem black,
    20rem 10rem white,
    21rem 10rem white,
    22rem 10rem white,
    23rem 10rem white,
    24rem 10rem white,
    /* Linha 11 */
    1rem 11rem white,
    2rem 11rem white,
    3rem 11rem black,
    4rem 11rem #b61111,
    5rem 11rem #b61111,
    6rem 11rem black,
    7rem 11rem #b61111,
    8rem 11rem red,
    9rem 11rem red,
    10rem 11rem red,
    11rem 11rem red,
    12rem 11rem red,
    13rem 11rem red,
    14rem 11rem red,
    15rem 11rem red,
    16rem 11rem red,
    17rem 11rem red,
    18rem 11rem red,
    19rem 11rem black,
    20rem 11rem white,
    21rem 11rem white,
    22rem 11rem white,
    23rem 11rem white,
    24rem 11rem white,
    /* Linha 12 */
    1rem 12rem white,
    2rem 12rem white,
    3rem 12rem black,
    4rem 12rem #b61111,
    5rem 12rem #b61111,
    6rem 12rem black,
    7rem 12rem #b61111,
    8rem 12rem #b61111,
    9rem 12rem red,
    10rem 12rem red,
    11rem 12rem red,
    12rem 12rem red,
    13rem 12rem red,
    14rem 12rem red,
    15rem 12rem red,
    16rem 12rem red,
    17rem 12rem red,
    18rem 12rem red,
    19rem 12rem black,
    20rem 12rem white,
    21rem 12rem white,
    22rem 12rem white,
    23rem 12rem white,
    24rem 12rem white,
    /* Linha 13 */
    1rem 13rem white,
    2rem 13rem white,
    3rem 13rem black,
    4rem 13rem #b61111,
    5rem 13rem #b61111,
    6rem 13rem black,
    7rem 13rem #b61111,
    8rem 13rem #b61111,
    9rem 13rem red,
    10rem 13rem red,
    11rem 13rem red,
    12rem 13rem red,
    13rem 13rem red,
    14rem 13rem red,
    15rem 13rem red,
    16rem 13rem red,
    17rem 13rem red,
    18rem 13rem red,
    19rem 13rem black,
    20rem 13rem white,
    21rem 13rem white,
    22rem 13rem white,
    23rem 13rem white,
    24rem 13rem white,
    /* Linha 14 */
    1rem 14rem white,
    2rem 14rem white,
    3rem 14rem black,
    4rem 14rem #b61111,
    5rem 14rem #b61111,
    6rem 14rem black,
    7rem 14rem #b61111,
    8rem 14rem #b61111,
    9rem 14rem #b61111,
    10rem 14rem red,
    11rem 14rem red,
    12rem 14rem red,
    13rem 14rem red,
    14rem 14rem red,
    15rem 14rem red,
    16rem 14rem red,
    17rem 14rem red,
    18rem 14rem #b61111,
    19rem 14rem black,
    20rem 14rem white,
    21rem 14rem white,
    22rem 14rem white,
    23rem 14rem white,
    24rem 14rem white,
    /* Linha 15 */
    1rem 15rem white,
    2rem 15rem white,
    3rem 15rem black,
    4rem 15rem #b61111,
    5rem 15rem #b61111,
    6rem 15rem black,
    7rem 15rem #b61111,
    8rem 15rem #b61111,
    9rem 15rem #b61111,
    10rem 15rem #b61111,
    11rem 15rem red,
    12rem 15rem red,
    13rem 15rem red,
    14rem 15rem red,
    15rem 15rem red,
    16rem 15rem red,
    17rem 15rem #b61111,
    18rem 15rem #b61111,
    19rem 15rem black,
    20rem 15rem white,
    21rem 15rem white,
    22rem 15rem white,
    23rem 15rem white,
    24rem 15rem white,
    /* Linha 16 */
    1rem 16rem white,
    2rem 16rem white,
    3rem 16rem black,
    4rem 16rem #b61111,
    5rem 16rem #b61111,
    6rem 16rem black,
    7rem 16rem #b61111,
    8rem 16rem #b61111,
    9rem 16rem #b61111,
    10rem 16rem #b61111,
    11rem 16rem #b61111,
    12rem 16rem #b61111,
    13rem 16rem #b61111,
    14rem 16rem #b61111,
    15rem 16rem #b61111,
    16rem 16rem #b61111,
    17rem 16rem #b61111,
    18rem 16rem #b61111,
    19rem 16rem black,
    20rem 16rem white,
    21rem 16rem white,
    22rem 16rem white,
    23rem 16rem white,
    24rem 16rem white,
    /* Linha 17 */
    1rem 17rem white,
    2rem 17rem white,
    3rem 17rem white,
    4rem 17rem black,
    5rem 17rem #b61111,
    6rem 17rem black,
    7rem 17rem #b61111,
    8rem 17rem #b61111,
    9rem 17rem #b61111,
    10rem 17rem #b61111,
    11rem 17rem #b61111,
    12rem 17rem #b61111,
    13rem 17rem #b61111,
    14rem 17rem #b61111,
    15rem 17rem #b61111,
    16rem 17rem #b61111,
    17rem 17rem #b61111,
    18rem 17rem black,
    19rem 17rem white,
    20rem 17rem white,
    21rem 17rem white,
    22rem 17rem white,
    23rem 17rem white,
    24rem 17rem white,
    /* Linha 18 */
    1rem 18rem white,
    2rem 18rem white,
    3rem 18rem white,
    4rem 18rem black,
    5rem 18rem black,
    6rem 18rem black,
    7rem 18rem #b61111,
    8rem 18rem #b61111,
    9rem 18rem #b61111,
    10rem 18rem #b61111,
    11rem 18rem black,
    12rem 18rem black,
    13rem 18rem black,
    14rem 18rem black,
    15rem 18rem black,
    16rem 18rem #b61111,
    17rem 18rem #b61111,
    18rem 18rem black,
    19rem 18rem white,
    20rem 18rem white,
    21rem 18rem white,
    22rem 18rem white,
    23rem 18rem white,
    24rem 18rem white,
    /* Linha 19 */
    1rem 19rem white,
    2rem 19rem white,
    3rem 19rem white,
    4rem 19rem white,
    5rem 19rem white,
    6rem 19rem black,
    7rem 19rem #b61111,
    8rem 19rem #b61111,
    9rem 19rem #b61111,
    10rem 19rem #b61111,
    11rem 19rem black,
    12rem 19rem white,
    13rem 19rem black,
    14rem 19rem #b61111,
    15rem 19rem #b61111,
    16rem 19rem #b61111,
    17rem 19rem #b61111,
    18rem 19rem black,
    19rem 19rem white,
    20rem 19rem white,
    21rem 19rem white,
    22rem 19rem white,
    23rem 19rem white,
    24rem 19rem white,
    /* Linha 20 */
    1rem 20rem white,
    2rem 20rem white,
    3rem 20rem white,
    4rem 20rem white,
    5rem 20rem white,
    6rem 20rem black,
    7rem 20rem #b61111,
    8rem 20rem #b61111,
    9rem 20rem #b61111,
    10rem 20rem #b61111,
    11rem 20rem black,
    12rem 20rem white,
    13rem 20rem black,
    14rem 20rem #b61111,
    15rem 20rem #b61111,
    16rem 20rem #b61111,
    17rem 20rem #b61111,
    18rem 20rem black,
    19rem 20rem white,
    20rem 20rem white,
    21rem 20rem white,
    22rem 20rem white,
    23rem 20rem white,
    24rem 20rem white,
    /* Linha 21 */
    1rem 21rem white,
    2rem 21rem white,
    3rem 21rem white,
    4rem 21rem white,
    5rem 21rem white,
    6rem 21rem black,
    7rem 21rem #b61111,
    8rem 21rem #b61111,
    9rem 21rem #b61111,
    10rem 21rem #b61111,
    11rem 21rem black,
    12rem 21rem white,
    13rem 21rem black,
    14rem 21rem #b61111,
    15rem 21rem #b61111,
    16rem 21rem #b61111,
    17rem 21rem black,
    18rem 21rem white,
    19rem 21rem white,
    20rem 21rem white,
    21rem 21rem white,
    22rem 21rem white,
    23rem 21rem white,
    24rem 21rem white,
    /* Linha 22 */
    /* 1rem 22rem white,
    2rem 22rem white,
    3rem 22rem white,
    4rem 22rem white,
    5rem 22rem white,
    6rem 22rem black,
    7rem 22rem #b61111,
    8rem 22rem #b61111,
    9rem 22rem #b61111,
    10rem 22rem #b61111,
    11rem 22rem black,
    12rem 22rem white,
    13rem 22rem white,
    14rem 22rem black,
    15rem 22rem #b61111,
    16rem 22rem #b61111,
    17rem 22rem black,
    18rem 22rem white,
    19rem 22rem white,
    20rem 22rem white,
    21rem 22rem white,
    22rem 22rem white,
    23rem 22rem white,
    24rem 22rem white, */
    /* Linha 23 */
    1rem 22rem white,
    2rem 22rem white,
    3rem 22rem white,
    4rem 22rem white,
    5rem 22rem white,
    6rem 22rem black,
    7rem 22rem #b61111,
    8rem 22rem #b61111,
    9rem 22rem #b61111,
    10rem 22rem black,
    11rem 22rem white,
    12rem 22rem white,
    13rem 22rem white,
    14rem 22rem black,
    15rem 22rem black,
    16rem 22rem black,
    17rem 22rem white,
    18rem 22rem white,
    19rem 22rem white,
    20rem 22rem white,
    21rem 22rem white,
    22rem 22rem white,
    23rem 22rem white,
    24rem 22rem white,
    /* Linha 24 */
    1rem 23rem white,
    2rem 23rem white,
    3rem 23rem white,
    4rem 23rem white,
    5rem 23rem white,
    6rem 23rem white,
    7rem 23rem black,
    8rem 23rem black,
    9rem 23rem black,
    10rem 23rem white,
    11rem 23rem white,
    12rem 23rem white,
    13rem 23rem white,
    14rem 23rem white,
    15rem 23rem white,
    16rem 23rem white,
    17rem 23rem white,
    18rem 23rem white,
    19rem 23rem white,
    20rem 23rem white,
    21rem 23rem white,
    22rem 23rem white,
    23rem 23rem white,
    24rem 23rem white,
    /* Linha final */
    1rem 24rem white,
    2rem 24rem white,
    3rem 24rem white,
    4rem 24rem white,
    5rem 24rem white,
    6rem 24rem white,
    7rem 24rem white,
    8rem 24rem white,
    9rem 24rem white,
    10rem 24rem white,
    11rem 24rem white,
    12rem 24rem white,
    13rem 24rem white,
    14rem 24rem white,
    15rem 24rem white,
    16rem 24rem white,
    17rem 24rem white,
    18rem 24rem white,
    19rem 24rem white,
    20rem 24rem white,
    21rem 24rem white,
    22rem 24rem white,
    23rem 24rem white,
    24rem 24rem white
}
