*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #1f1d1d;
  --red: #e50913;
  --red-dark: #b20510;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

main{
  background: var(--background);
  position: relative;
  width: 620px;
  height: 620px;
  border-radius: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}

main::before{
  content: "";
  position: absolute;
  background: var(--background);
  z-index: 3;
  width: 300px;
  height: 10px;
  bottom: 57px;
  border-radius: 50% /100% 100% 0 0;
}

div{
  position: relative;
  width: 280px;
  height: 500px;
  overflow: hidden;
  display: flex;
}

div, div::before, div::after, span{
  height: 500px;
}
div::before, div::after, span{
  width: 100px;
}
div::before, div::after{
  content: "";
  position: absolute;
  background: var(--red-dark);
}

div::before{
  left: 0;
}
div::after{
  right: 0;
}

span{
  background: var(--red);
  position: relative;
  z-index: 2;
  transform: skewX(19.5deg) translateX(90%);
  filter: drop-shadow(0 0 .65rem);
}
