*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ade7ff;
}

.head {
  width: 300px;
  height: 240px;
  position: relative;

  .hair {
    width: 300px;
    height: 180px;
    position: absolute;
    &::before {
      content: "";
      position: absolute;
      width: 44px;
      height: 57px;

      background: #531700;
      // border-radius: 29px 0px 29px 35px;
      border-radius: 50% 56% 43% 58% / 45% 55% 42% 52%;
      z-index: 2;
      top: 26%;
      right: 21%;
      transform: scale(0.92);
    }
    .hair-1 {
      position: absolute;
      width: 100px;
      height: 100px;

      background: #531700;
      border-radius: 35px;
      transform: rotate(35.38deg) scale(0.8);
      top: 6%;
      left: -9%;
    }

    .hair-2 {
      position: absolute;
      width: 163px;
      height: 144px;

      background: #531700;
      border-radius: 80px 150px 83px 83px;
      transform: rotate(4deg) scale(0.8);
      top: -40%;
      left: -3%;
    }
    .hair-3 {
      position: absolute;
      width: 164px;
      height: 144px;

      background: #531700;
      border-radius: 60px 40% 40%;
      transform: rotate(45deg) scale(0.8);
      top: -58%;
      left: 22%;
    }
    .hair-4 {
      position: absolute;
      width: 124px;
      height: 144px;

      background: #531700;
      border-radius: 45px;
      transform: scale(0.85);
      top: -41%;
      left: 48%;
    }
    .hair-5 {
      position: absolute;
      width: 80px;
      height: 100px;

      background: #531700;
      border-radius: 30px 50% 30px 30px;
      transform: rotate(45deg) scale(0.8);
      top: -5%;
      left: 70%;
    }
  }
  .ear {
    background: #f8d2bf;
    width: 34px;
    height: 52px;
    border-radius: 17px 50% 40% 40%;
    position: absolute;
    top: 25%;
    left: 75%;
    z-index: 2;
  }
  .face {
    width: 186px;
    height: 220px;
    position: absolute;
    background: #f8d2bf;
    border-radius: 80px 90px 50% 50%;
    top: -2%;
    left: 9%;
    transform: rotate(-9deg);

    &::before {
      content: "";
      background: inherit;
      position: absolute;
      width: 230px;
      height: 120px;
      border-radius: 50px 0px 135px 95px;
      // border-radius: 60px 0px 105px 105px;
      top: 50%;
      left: -10%;
      z-index: 2;
    }
  }
}

.body {
  position: relative;

  .arms {
    height: 200px;
    transform: rotate(-25deg);

    &::after {
      content: "";
      height: 95px;
      width: 50px;
      position: absolute;
      background: #f38785;
      top: -102px;
      right: -36.5%;
      border-radius: 50%;
    }
    .left {
      position: absolute;
      width: 95px;
      height: 200px;
      background: #f8d2bf;
      top: -86%;
      left: -6%;
      transform: rotate(-8.5deg);
      border-radius: 60% 75% 25% 59% / 54% 46% 32% 79%;

      &::before {
        content: "";
        height: 96px;
        width: 36px;
        position: absolute;
        background: #f8d2bf;
        bottom: 0px;
        right: -15px;
        border-radius: 50% 50% 50% 0;
      }
      &::after {
        content: "";
        height: 50px;
        width: 100px;
        position: absolute;
        background: #f8d2bf;
        top: 25px;
        left: 12px;
        border-radius: 50% 30% 25px 0;
      }

      .hand {
        height: 50px;
        width: 100px;
        position: absolute;
        background: #f8d2bf;
        top: -6px;
        left: 6px;
        border-radius: 50px 40% 45px 0;

        &::before {
          content: "";
          height: 50px;
          width: 40px;
          position: absolute;
          background: #f8d2bf;
          top: -3px;
          left: 40%;
          border-radius: 50%;
          transform: rotate(-10deg);
        }
        &::after {
          content: "";
          height: 50px;
          width: 40px;
          position: absolute;
          background: #f8d2bf;
          top: -3px;
          left: 20%;
          border-radius: 50%;
          transform: rotate(-10deg);
        }
      }
    }

    .right {
      position: absolute;
      position: relative;
      width: 78px;
      height: 190px;
      background: #f8d2bf;
      top: -52%;
      left: 136%;
      transform: rotate(180deg);
      border-radius: 60% 75% 35% 89% / 54% 46% 0% 59%;

      &::before {
        content: "";
        height: 96px;
        width: 36px;
        position: absolute;
        background: #f8d2bf;
        bottom: 0px;
        right: -26px;
        z-index: -5;
        border-radius: 0% 50% 28% 0;
        border-radius: 0 0 7px 0;
      }
      &::after {
        content: "";
        height: 50px;
        width: 86px;
        position: absolute;
        background: #f8d2bf;
        top: -2px;
        left: 4px;
        border-radius: 45px 30% 25px 0;
      }

      .hand {
        height: 30px;
        width: 72px;
        position: absolute;
        background: #f8d2bf;
        top: 30px;
        left: 18px;
        border-radius: 50px 40% 45px 0;

        &::before {
          content: "";
          height: 50px;
          width: 40px;
          position: absolute;
          background: #f8d2bf;
          top: -35px;
          left: 44%;
          border-radius: 50%;
          transform: rotate(-10deg);
        }
        &::after {
          content: "";
          height: 50px;
          width: 40px;
          position: absolute;
          background: #f8d2bf;
          top: -35px;
          left: 14%;
          border-radius: 50%;
          transform: rotate(-10deg);
        }
      }
    }
  }

  .shirt {
    position: absolute;
    width: 250px;
    height: 220px;
    background: #f38785;
    transform: rotate(-25deg);
    top: -110px;
    left: 26%;
    z-index: -1;
    &::after {
      content: "";
      width: 250px;
      height: 100px;
      background: inherit;
      position: absolute;
      top: calc(100% - 50px);
      border-radius: 50%;
    }

    .sleeve-1 {
      position: absolute;
      background: #f38785;
      width: 34px;
      height: 96px;
      left: -12.5%;
      border-radius: 0 21px 18px 0;
      transform: rotate(-10deg);
      z-index: 1;
    }
    .sleeve-2 {
      position: absolute;
      background: #f38785;
      width: 62px;
      height: 94px;
      top: -9%;
      right: -10%;
      transform: rotate(-7deg);
    }

    .star {
      position: absolute;
      border-radius: 62% 55% 58% 45% / 51% 60% 52% 40%;
      background: yellow;
      width: 50px;
      height: 126px;
      bottom: -11%;
      left: calc(50% - 30px);
      z-index: 2;
      transform: rotate(-15deg);

      &::before {
        content: "";
        position: absolute;
        border-radius: 62% 55% 58% 45% / 51% 60% 52% 40%;
        background: yellow;
        width: 50px;
        height: 126px;
        bottom: 9%;
        left: calc(50% - 60px);
        z-index: 2;
        transform: rotate(40deg);
      }
      &::after {
        content: "";
        position: absolute;
        border-radius: 48% 55% 58% 45% / 47% 44% 52% 51%;
        background: yellow;
        width: 56px;
        height: 146px;
        bottom: -4%;
        left: calc(50% - 45px);
        z-index: 2;
        transform: rotate(115deg);
      }
    }
  }

  .pants {
    width: 250px;
    height: 250px;
    background-color: #4c88bc;
    position: absolute;
    border-radius: 0 50% 48% 50%;
    top: -10%;
    left: 42.5%;
    z-index: -2;
  }
  .legs {
    width: 180px;
    height: 154px;
    position: absolute;
    top: 40%;
    left: 63%;
    background: #4c88bc;
    border-radius: 87% 79% 100% 0% / 85% 54% 100% 41%;

    &::after {
      content: "";
      width: 118px;
      height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #a9b6d9;
      border-radius: 0 100% 0px 0px;
    }
    &::before {
      content: "";
      width: 150px;
      height: 180px;
      position: absolute;
      top: 20%;
      left: -30%;
      background: #4c88bc;
      border-radius: 0 0 0px 100%;
      z-index: -2;
    }

    .feet {
      width: 120px;
      height: 70px;
      position: relative;
      border-radius: 0 0 0 15px;
      top: 99%;
      left: 40%;

      .left {
        width: 120px;
        height: 70px;
        background: #4c88bc;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotateZ(-9deg);

        &::before {
          content: "";
          width: 50px;
          height: 100px;
          background: #4c88bc;
          position: absolute;
          top: -130%;
          right: 55%;
          z-index: -5;
          transform: rotate(-15deg);
        }

        &::after {
          content: "";
          width: 20px;
          height: 70px;
          background: #a9b6d9;
          position: absolute;
          border-radius: 0 50% 50% 0px;
          top: 0%;
          right: -10px;
        }

        .aux {
          background: #f8d2bf;
          width: 67px;
          height: 126px;
          position: absolute;
          top: -7px;
          right: -56%;
          border: 10px solid #f38785;
          border-top: 0;
          border-left: 0;
          border-bottom: 5px solid #f38785;
          // border-radius: 10% 30% 40% 45%;
          border-radius: 30% 92% 58% 43% / 29% 35% 63% 40%;
          transform: rotate(-15deg);
          overflow: hidden;

          &::before {
            content: "";
            width: 52px;
            height: 40px;
            border-radius: 50%;
            background: #f8d2bf;
            border: 10px solid #f38785;
            border-bottom: 0;
            border-left: 0;
            position: absolute;
            bottom: 10%;
            right: -25%;
            transform: rotate(-15deg);
          }
          &::after {
            content: "";
            width: 44px;
            height: 48px;
            border-radius: 50%;
            background: #f8d2bf;
            border: 10px solid #f38785;
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            position: absolute;
            bottom: 2%;
            left: -25%;
            transform: rotate(-15deg);
          }
        }
      }

      .right {
        width: 130px;
        height: 80px;
        background: #f8d2bf;
        position: absolute;
        top: -1px;
        left: -78%;
        border-radius: 50%;

        &::before {
          content: "";
          width: 130px;
          height: 70px;
          background: #f8d2bf;
          position: absolute;
          top: 0px;
          left: 7%;
          border-radius: 40% 0 0 50%;
        }
        &::after {
          content: "";
          width: 140px;
          height: 54px;
          background: #f8d2bf;
          background: #f38785;
          position: absolute;
          bottom: -10px;
          left: 0%;
          border-radius: 69% 57% 52% 56% / 50% 46% 48% 46%;
          transform: skewY(10deg);
        }

        .aux {
          width: 50px;
          height: 70px;
          border: 12px solid #f38785;
          border-bottom: 0;
          border-top: 0;
          border-left: 0;
          border-radius: 50%;
          position: absolute;
          top: 25%;
          right: 0;

          &::before {
            content: "";
            width: 100px;
            height: 38px;
            position: absolute;
            top: -65%;
            left: -80%;
            background: #a9b6d9;
            border-radius: 0 118px 0px 0px;
            transform: rotate(12deg);
          }
        }
      }
    }
  }
}
