*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dark: #691762;
  --light: #8402ba;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #8402ba55;
}

.wrapper{
  position: relative;
  width: 300px;
  height: 300px;
  border: 25px solid var(--dark);
  border-radius: 50%;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper::before{
  content: "";
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: .5rem;
  bottom: 0;
  left: 0;
  transform: translate(59%, -19%) rotateZ(-5deg);
}

.logo{
  position: relative;
  background: var(--dark);
  width: 120px;
  height: 40px;
  border-radius: 120px 0;
  box-shadow: 40px -50px var(--light);
  left: -7.5%;
}

.logo::before{
  content: "";
  position: absolute;
  background: var(--light);
  width: 40px;
  height: 40px;
  top: 40px;
  left: 40px;
  margin-top: 10px;
  border-radius: 0 0 40px;
}